/*
h1 {
	text-align: center;;
	color:#FFFFFF;
 	background-color: #000080;
}
*/

/*
a {
    cursor:pointer;
}
*/

body {
    min-width: 100%;
    min-height: 100%;
  color: #1c1c1c;
}

.login{
	width:640px;
	margin: auto;
    margin-top:5%;  
}

.register{
	width:640px;
	margin: auto;
    margin-top:5%;  
}

.edit{
	width:640px;
	margin: auto;
    margin-top:5%;  
}

.header {
	color:#FFFFFF;
 	background-color: #000080;
}

.footer{
	text-align: center;	
	color:#FFFFFF;
 	background-color: #000080;
}

.box{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-around;
  height: 50px;  
}

.center {
	/*
    width: fit-content;
    margin: auto;
    */
    
 	display: flex;
    justify-content: center;    
}

.slightly-left{
	padding-left:30%;
}

.title{
	font-size: xx-large;
}

.user{
	font-size: medium;	
}

.height10{
	line-height:10%;
}

.height200{
	line-height:200%;
}

.height5px{
	line-height:5px;
}

.height10px{
	line-height:10px;
}

.error{
	color:red;
	font-size: large;	
}

.info{
	color:blue;
	font-size: large;	
}