<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      class="edit">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/example.css">
  <script src="./js/jquery-3.7.1.js"> </script>
  <script src="./js/main.js"></script>
  <title>edit</title>
</head>

<body>
<header>
	<div class="box">
  		<p></p>
  		<p><span class="title"><label id="title"></label></span></p>  		
  		<p><span class="user">
			  <label id="user"></label>
  		   </span>
  		</p>  		
	</div>	
</header>
	
<form id="form" method="post" th:object="${UserForm}" th:action="@{/update_write}" enctype="multipart/form-data">	
 	<input type="hidden" th:field="*{mapstring}">
 	<input type="hidden" th:field="*{imgString}">

	<div class="slightly-left">
	<th:block th:if="${not UserForm.msg.isEmpty()}">
	    <th:block th:each="item:*{msg}" th:object="${item}">
			<label class="error" th:text="${item.value}"></label><br>		
		</th:block>
	</th:block>
	</div>
	    
	<th:block th:if="${title=='新規'}">
	<table class="table-center">
		<tr>
            <td>コード</td>
            <td><input type="text" th:field="*{code}" required/></td>			
		</tr>
		<tr>
            <td>氏名</td>
            <td><input type="text" th:field="*{name}" required/></td>						
		</tr>
		<tr>
            <td>カナ</td>
            <td><input type="text" th:field="*{kana}" required/></td>						
		</tr>
		<tr>
            <td>状態</td>
            <td>
    			<select th:field="*{statecode}">
					<option th:value="0"></option>
					<option th:each="item:*{mapitems.get('state')}" th:value="${item.key}" th:text="${item.value}" th:selected="(${item.key}==*{statecode})"></option>		
    			</select>
			</td>
		</tr>
		<tr>
            <td>雇用形態</td>
            <td>
    			<select th:field="*{statuscode}">
					<option th:value="0"></option>
					<option th:each="item:*{mapitems.get('status')}" th:value="${item.key}" th:text="${item.value}" th:selected="(${item.key}==*{statuscode})"></option>		
    			</select>
			</td>            									
		</tr>
		<tr>
            <td>部署</td>
            <td><input type="text" th:field="*{divisionname}" required/></td>						
		</tr>
		
		<tr>
            <td>写真</td>
            <td rowspan="2"><img th:src="*{imgString}" style="width: 100px;"/></td>						
		</tr>
		<tr>
            <td><input type="file" th:field="*{imgfile}" onchange="previewFile()" /></td>						
		</tr>
		
        <tr>
            <td></td>
            <td>
				<button type="button" onclick="history.back()">戻る</button>
    			<button type="button" onclick="insertclick()">登録</button>
   				<button type="reset" onclick="resetclick()">Reset</button>
            </td>
        </tr>		
	</table>
	</th:block>

	<th:block th:if="${title=='更新'}">
	<table class="table-center">
		<tr>
            <td>コード</td>
            <td><input type="text" th:field=*{code} readonly required/></td>			
		</tr>
		<tr>
            <td>氏名</td>
            <td><input type="text" th:field=*{name} required/></td>						
		</tr>
		<tr>
            <td>カナ</td>
            <td><input type="text" th:field=*{kana} required/></td>						
		</tr>
		<tr>
            <td>状態</td>
            <td>
    			<select th:field="*{statecode}">
					<option th:value="0"></option>
					<option th:each="item:*{mapitems.get('state')}" th:value="${item.key}" th:text="${item.value}" th:selected="(${item.key}==*{statecode})"></option>		
    			</select>
			</td>
		</tr>
		<tr>
            <td>雇用形態</td>
            <td>
    			<select th:field="*{statuscode}">
					<option th:value="0"></option>
					<option th:each="item:*{mapitems.get('status')}" th:value="${item.key}" th:text="${item.value}" th:selected="(${item.key}==*{statuscode})"></option>		
    			</select>
			</td>
            									
		</tr>
		<tr>
            <td>部署</td>
            <td><input type="text" th:field=*{divisionname} required/></td>						
		</tr>
		
		<tr>
            <td>写真</td>
            <td rowspan="2">
				<div id="image">
				<img th:src=*{imgString} style="width: 100px;"/>
				</div>
			</td> 					
		</tr>
		<tr>
            <td><input type="file" th:field=*{imgfile} multiple onchange="previewFile()" /></td>							
		</tr>
		
        <tr>
            <td></td>
            <td>
				<button type="button" onclick="history.back()">戻る</button>
    			<button type="button" onclick="updateclick()">登録</button>
   				<button type="reset" onclick="resetclick()">Reset</button>
            </td>
        </tr>		
	</table>
	</th:block>	

	<th:block th:if="${title=='削除'}">
	<table class="table-center">
		<tr>
            <td>コード</td>
            <td><input type="text" th:field=*{code} readonly></td>			
		</tr>
		<tr>
            <td>氏名</td>
            <td><input type="text" th:field=*{name} readonly></td>						
		</tr>
		<tr>
            <td>カナ</td>
            <td><input type="text" th:field=*{kana} readonly></td>						
		</tr>
		<tr>
            <td>状態</td>
            <td>
    			<select th:field="*{statecode}" disabled>
					<option th:value="0"></option>
					<option th:each="item:*{mapitems.get('state')}" th:value="${item.key}" th:text="${item.value}" th:selected="(${item.key}==*{statecode})"></option>		
    			</select>
			</td>
		</tr>
		<tr>
            <td>雇用形態</td>
            <td>
    			<select th:field="*{statuscode}" disabled>
					<option th:value="0"></option>
					<option th:each="item:*{mapitems.get('status')}" th:value="${item.key}" th:text="${item.value}" th:selected="(${item.key}==*{statuscode})"></option>		
    			</select>
			</td>
            									
		</tr>
		<tr>
            <td>部署</td>
            <td><input type="text" th:field=*{divisionname} readonly></td>						
		</tr>
		<tr>
            <td>写真</td>
            <td rowspan="2">
				<div id="image">
				<img th:src=*{imgString} style="width: 100px;"/>
				</div>
            </td>						
		</tr>
        <tr>
            <td></td>
            <td>
				<button type="button" onclick="history.back()">戻る</button>
				<button type="button" onclick="deleteclick()">削除</button>
            
            </td>
        </tr>		
	</table>
	</th:block>	

</form>

<footer>
    <p>© All rights reserved by PALM</p>
</footer>

<script th:inline="javascript">

window.onload =  function() {
	document.getElementById("imgString").value = "";	
	let title = /*[[${title}]]*/"title";
	let user = /*[[${session.user['fullname']}]]*/"user";
    let element_title = document.getElementById("title");	
	element_title.textContent = title;
    let element_user = document.getElementById("user");	
	element_user.textContent = "ユーザー：" + user;
}

function insertclick() {
	//history.pushState(null, null, null);
    let form = document.getElementById('form');
  	form.action = "/insert_write";
    form.submit();	
}

function updateclick() {
	let result = confirm('編集内容を登録しますか？');
	if(!result) return;
		
    let form = document.getElementById('form');
  	form.action = "/update_write";
    form.submit();	
}

function deleteclick() {
	let result = confirm('削除しますか？');
	if(!result) return;
		
    let form = document.getElementById('form');
  	form.action = "/delete_write";
    form.submit();	
}

function resetclick() {
  	const preview = document.querySelector("img");
  	if (preview.src !=/*[[${UserForm.imgString}]]*/""){
		preview.src = /*[[${UserForm.imgString}]]*/"";
		return;	  
	}else if (preview.src != ""){
		let result = confirm('画像を削除しますか？');
		if(!result) return;
        const imgString = document.getElementById('imgString');
		imgString.value = "";
		preview.src = "";				  
	}
	return;
}

function previewFile() {
	const allowedFileTypes = ["image/png", "image/jpeg"];
  	const preview = document.querySelector("img");
  	const file = document.getElementById("imgfile").files[0];
  	
	if (! allowedFileTypes.includes(file.type)){
    	alert("画像ファイルではありません。");
    	document.getElementById("imgfile").value = "";
    	return;		
	}  	  
	if (file.size > 2 * 1024 * 1024){
    	alert("ファイルサイズが２MBを超えています。");
    	document.getElementById("imgfile").value = "";
    	return;				
	}	

  	const reader = new FileReader();
	reader.addEventListener("load",() => {
    	preview.src = reader.result;
    },
    	false,
  	);
  	if (file) {
    	reader.readAsDataURL(file);
  	}
}
</script>
</body>
</html>
